automation/gushwork-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "options": {}
      },
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3136,
        3200
      ],
      "id": "f8bbac6c-9a72-4422-a5b6-8897f7f0db84",
      "webhookId": "ffe56072-de60-4593-bef4-f9a740aa2e17",
      "notes": "ENTRY: Receives Lead Data"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isSpam }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Route Traffic",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2560,
        3200
      ],
      "id": "f78cdf17-9380-4de1-a469-35d598dda4be"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "A:H",
        "options": {}
      },
      "name": "Log: Possible Spam",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -2336,
        3104
      ],
      "id": "ab8ec545-70f5-4d5b-90bc-446977b5cb36"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "A:H",
        "options": {}
      },
      "name": "Log: New Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -2336,
        3296
      ],
      "id": "d9ebcf22-db1d-47d4-8df7-ae3babe343bb"
    },
    {
      "parameters": {
        "toEmail": "sales@client.com",
        "subject": "=New Lead: {{ $json.name }}",
        "text": "=ACTION REQUIRED\n\nA new lead has arrived.\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nDetails: {{ $json.details }}\n\nAI Analysis: Valid Lead\nConfidence: {{ $json.confidence }}\nReasoning: {{ $json.reasoning }}",
        "options": {}
      },
      "name": "Notify Sales Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        -2112,
        3392
      ],
      "id": "29e7b4ff-8365-4b72-997d-ac025c4b460a"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "Sheet1"
        },
        "event": "rowUpdate",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "name": "Sheet Watcher",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -2560,
        3488
      ],
      "id": "5f4b2aec-d607-4522-a012-a12fcb36a7e1",
      "notes": "CORRECTION LOOP: Watches for manual fixes"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "value2": "New Lead"
            }
          ]
        }
      },
      "name": "Check Status Change",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2336,
        3488
      ],
      "id": "2a8f9ee3-af1a-4022-85b5-77ef4241402f"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "fc3a3058-7d3d-4e4c-8ee4-21f8223c944b",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2896,
        3424
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"isSpam\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"Whether the lead appears to be spam or invalid\"\n\t\t},\n\t\t\"confidence\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"description\": \"Confidence score from 0 to 1\"\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Brief explanation of the decision\"\n\t\t},\n\t\t\"name\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Lead name from input\"\n\t\t},\n\t\t\"email\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Lead email from input\"\n\t\t},\n\t\t\"details\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Lead details from input\"\n\t\t}\n\t}\n}"
      },
      "id": "9312fe0f-bb35-4e57-a4d2-c9fd1152def4",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2768,
        3424
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this lead submission:\n\nName: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nDetails: {{ $json.body.details }}\n\nProvide your analysis in the structured format with isSpam (boolean), confidence (0-1), reasoning (brief explanation), and pass through the original name, email, and details fields.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI lead quality judge. Analyze incoming lead data and determine if it's legitimate or spam. Evaluate based on: email validity and format, name authenticity (not gibberish or test data), message content quality and coherence, and suspicious patterns (repeated characters, obvious spam keywords)."
        }
      },
      "id": "e65dabec-abcd-449c-a8de-6c9d2dbfea06",
      "name": "AI Judge Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2912,
        3200
      ]
    }
  ],
  "connections": {
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "AI Judge Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Traffic": {
      "main": [
        [
          {
            "node": "Log: Possible Spam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: New Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: New Lead": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Watcher": {
      "main": [
        [
          {
            "node": "Check Status Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Change": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Judge Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Judge Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Judge Agent": {
      "main": [
        [
          {
            "node": "Route Traffic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "547d9315a64211723f039c425b7eb49cacbb327f433b66b3616bbee09114a9bf"
  }
}